@import '../../../colors.scss';

.notification-wrapper {
	padding: 4px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 240px;
}

.notification-item {
	background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 240px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.3s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 8px;
}

.notification-item .bar {
  height: 4px;
}

.notification-item.success .bar {
  background-color: $primary;
}

.notification-item.error .bar {
  background-color: $error;
}
