@import '../../variables';

.modern-radio-container {
  margin: 16px 0 0 0;
  display: flex;
  user-select: none;

	&--active {
		width: 60%;
	}

	&--cursor-pointer {
		cursor: pointer;
	}
}

.radio-outer-circle {
  width: 22px;
  height: 20px;
  border: 2px solid #00cc66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.2s linear;

	&.selected {
		background-color: $light;
	}

	&.active {
		width: 16px;
    height: 16px;
    align-self: flex-end;
    margin-right: 8px;
	}
}

.radio-container {
	display: flex;
  flex-direction: column;

	&.active {
		flex-basis: 28%;
		margin-right: 12px;
	}
}

.radio-inner-mark.selected-circle {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 15px;
	align-self: flex-end;

	&.active {
		width: 10px;
		height: 12px;
    margin-right: 0;
	}

	&::before {
		position: absolute;
		left: -5.5px;
		top: 4.8px;
		height: 50%;
		width: 3px;
		background-color: #00cc66;
		content: "";
		transform: translateX(10px) rotate(-45deg);
		transform-origin: left bottom;
	}
	
	&.active::before {
		position: absolute;
    left: -6px;
    top: 5px;
    height: 50%;
    width: 2px;
    background-color: #00cc66;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
	}

	&::after {
		position: absolute;
		left: -5px;
		bottom: 2px;
		height: 3px;
		width: 100%;
		background-color: #00cc66;
		content: "";
		transform: translateX(10px) rotate(-45deg);
		transform-origin: left bottom;
	}

	&.active::after {
		position: absolute;
    left: -6px;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: #00cc66;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
	}
}

.unselected {
  border: 2px solid #9E9E9E;

	&.active {
		opacity: 0;
	}
}

.unselected-circle {
  width: 0;
  height: 0;
}

.helper-text {
  color: black;
  padding-right: 8px;

	&--active {
		padding-bottom: 8px;
	}
}

.result-border--bottom {
	border-bottom: 2px solid $primary;
}

.radio-votesCount {
	align-self: end;
}
