@import '../../colors';
@import '../../media-queries';

.profile {
	display: flex;
	justify-content: space-between;
	
	&__info {
		margin-bottom: 32px;
		padding: 16px 32px;
		background-color: white;
		width: 440px;
		height: 180px;
		border-radius: 8px;
		display: flex;
		align-items: center;

		&-icon {
			width: 88px;
			height: 88px;
			
			background: #EFEFEF;
			border-radius: 100%;
		}

		&-content {
			margin-top: 16px;
			margin-left: 24px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&>div {
				display: flex;
				align-items: center;
				
				&>span {
					margin-left: 16px;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
				}
			}
		}

		&-name {
			display: inline;			
			margin: 0;
			padding: 0;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
		}

		&-payment {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__friendly-link, &__vote {
		background-color: white;
		width: 440px;
		border-radius: 8px;
		
		&-title {
			margin: 0;
			padding: 0;
			
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
		}
	}
	
	&__friendly-link {
		padding: 24px 32px 12px 32px;
		height: 120px;

		&>div {
			margin-top: 12px;
			display: flex;
			align-items: center;
		}

		&-title {}

		&-url {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;

			padding: 8px 12px;
			background-color: #EFEFEF;
			border-radius: 16px;
			width: fit-content;

			max-width: 280px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.btn-link {
			margin-left: 24px;
			padding: 8px 12px;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;

			color: #FFFFFF;
			background: $primary;
			border-radius: 12px;
			
			&:hover {
				background: $secondary;
				transition: .3s all ease;
			}
		}
	}

	&__vote {
		margin-top: 32px;
		padding: 24px 32px;

		&-header {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			&>h3 {
				width: 100%;
			}
		}

		a {
			width: 90px;
			font-size: 12px;
			padding: 4px;
			border-radius: 4px;
			text-decoration: none;
			color: black;
			background-color: $primary;
			color: #FFFFFF;

			&:hover {
				background: $secondary;
				transition: .3s all ease;
			}
		}
	}

	&__neighbours {
		width: 320px;
		height: 280px;
		background-color: #FFFFFF;
		border-radius: 8px;

		overflow-y: auto;
		

		&-el {
			display: flex;
			align-items: center;
			padding-left: 16px;
			margin: 12px;
			height: 48px;
			
			background: #EFEFEF;
			border-radius: 8px;

			&__icon {
				width: 24px;
				height: 24px;
				background-color: #a0a0a0;
				border-radius: 100%;
			}

			&>h5 {
				margin-left: 16px;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
			}

			&>span {
				margin-left: 12px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
}

// scroll bar; neighbours section
.profile__neighbours::-webkit-scrollbar {
	width: 8px;
}

.profile__neighbours::-webkit-scrollbar-track {
	border-radius: 12px;
	background-color: #f8f8f8;
	margin-block: 16px;
}

.profile__neighbours::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #c5c5c5;
	transition: scrollbar-color 0.3s ease-out;
}

.profile__neighbours::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a0;
}

// roles

.profile-processing {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 240px;
}
