@import "../../variables";

.profile {
  min-height: 92vh;

  &-variant {
    width: 270px;
    margin: 24px 0;
  }

  &-content {
		margin-top: $base*8;
    display: grid;
    grid-template-columns:
      minmax(390px, 440px)
      minmax(600px, 640px);
    justify-content: space-between;

    @media (max-width: 1125px) {
			margin-top: $base*4;
      grid-template-columns:
        minmax(375px, 390px)
        minmax(450px, 560px);
    }

    @media (max-width: 796px) {
			margin-top: $base*2;
      grid-template-columns: minmax(360px, 580px);
    }
  }

  .role-processing {
    display: flex;
  }

  @media (max-width: 1125px) {
    padding: 0 $base*8;
  }

  @media (max-width: 796px) {
    padding: 0 $base * 2;
  }

  &-processing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;

    h2 {
      text-align: center;
    }
  }

  &-villager-container {
  }

  &-admin-container {
    width: 100%;
  }

  &-admin-panel {
    width: 100%;
  }

  &__info {
    padding: $base * 4 $base * 8;
    margin-bottom: $base * 8;
    background-color: white;
    height: $base * 45;
    border-radius: $base * 2;
    display: flex;
    align-items: center;

    &-icon {
      flex-shrink: 0;
      width: 88px;
      height: 88px;

      background: $light-icon;
      border-radius: 100%;
    }

    &-content {
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > div {
        display: flex;
        align-items: center;

        & > span {
          margin-left: $base * 4;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    &-name {
      display: inline;
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }

    &-payment {
			display: flex;
      padding: 0;
      margin: 0 0 4px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__content-el {
    padding: $base * 6 $base * 8;
    margin-bottom: $base * 8;
    background-color: $white;
    border-radius: 8px;

    &__title {
      margin: 0;
      padding: 0;

      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
    }

    &__header {
      margin-bottom: 24px;
    }

    &__content {
    }

    &-minimize {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .profile__content-el__header {
        margin-bottom: 0px;
      }
    }
  }

  &__friendly-link {
    &__content {
      display: flex;
      align-items: center;
    }

    &__url {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;

      padding: 8px 12px;
      background-color: $light;
      border-radius: 16px;
      width: fit-content;

      max-width: 280px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .btn-friendly-link {
      margin-left: 24px;
    }
  }

  &__vote {
    &__header {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    &__title {
      width: 100%;
    }

    a {
      width: 80px;
      font-size: 12px;
      padding: 4px;
      border-radius: 4px;
      color: black;
      background-color: $primary;
      color: $white;

      &:hover {
        background: $secondary;
        transition: 0.3s all ease;
      }
    }
  }

  &__new-vote {
    margin-top: 0;
  }

  &-villager-neighbours {
    height: 75vh;
		margin-bottom: $base * 8;
  }

  &__neighbours {
    width: 100%;
    height: 70vh;
    background-color: $white;
    border-radius: 8px;

    overflow-y: auto;

    &-el {
      display: flex;
      align-items: center;
      padding-left: 16px;
      margin: 12px;
      height: 48px;

      background: $light;
      border-radius: 8px;

      &__icon {
        width: 24px;
        height: 24px;
        background-color: $dark-icon;
        border-radius: 100%;
      }

      & > h5 {
        margin-left: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        margin-left: 12px;
        margin-right: 12px;
      }

      & > span {
        margin-left: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }
    }

    @media (max-width: 1125px) {
      grid-column: 1;
    }

    // scroll bar
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 12px;
      background-color: $scrollbar-track;
      margin-block: 16px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: $scrollbar-thumb;
      transition: scrollbar-color 0.3s ease-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: scrollbar-thumb-hover;
    }
  }
}

.btn-profile {
  padding: 8px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: $white;
  background: $primary;
  border-radius: 12px;

  &:hover {
    background: $secondary;
    transition: 0.3s all ease;
  }

  &--pending {
    background-color: $pending;
  }
}

.btn-new-vote,
.btn-view-villagers {
  display: inline-block;
}

.btn-neighbours {
	margin-left: auto;
	margin-right: 12px;
	font-size: 16px;
	padding: 4px 8px;
}

.mt-16 {
	margin-top: 16px;
}

.mb-8 {
	margin-bottom: 8px;
}
