@import '../../colors';
@import '../../media-queries';

.popup-view {
	padding: 16px;
	border-radius: 8px;
	background-color: $light;
	min-width: 400px;
}

.popup-header {
	
	&>h2 {
		padding: 0;
		margin: 0;

		font-weight: 400;
		font-size: 24px;
	}
}

.popup-content {
	display: inline-flex;
	flex-direction: column;

	&__container {
		&-title {
			position: relative;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;

			&>span {
				right: 0;
				top: 0;
			}

			.delete-cross-title__new-area {
				margin-left: 24px;
				right: auto;
			}
		}

		&__create_area-title {
			padding: 8px 12px;
		}
	}
}

.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;

	&__create-area {
		margin-top: 12px;
	}
}

.select-wrapper {
	&>div:not(:first-child) {
		margin-top: 12px;
	}
}

.delete-cross {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;

	cursor: pointer;
	display: inline-block;
	color: #afafaf;
	position: absolute;
	line-height: 1;

	&-input {
		right: 4px;
		top: 4px;	
	}
}

.popup-footer {
	display: flex;
	justify-content: space-between;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-input {
	width: 240px;
	height: 32px;
	border: none;
	padding-left: 8px;
	margin-bottom: 8px;

	background: $white;
	border-radius: 4px;
}

.btn-popup {
	display: block;
	margin-top: 24px;

	&--cancel {
		background-color: $secondary;

		transition: all .2s ease;
		&:hover {
			filter: brightness(95%);
		}
	}
}
