@import "../../variables.scss";

.villagers-wrapper {
  background-color: $light;
	height: 92vh;
}

.villagers {
  &__villager-el {
    padding: 16px;
    margin-bottom: 16px;

    border-radius: 4px;
    background-color: white;
    display: flex;

    & > div {
      margin-right: 12px;
    }
  }
}
