@import './variables';

.btn {
	cursor: pointer;
	border: none;
	outline: none;
}

.content-section {
	background-color: $light;
}

.profile, .votes, .villagers {
	padding: $base * 3;
	border-top: 1px solid white;
	z-index: 10;
	max-width: 1200px;
	margin: 0 auto;
}

input {
	outline: none;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}
